//periodic-vue colors
$periodic-bg-color: #FF5577;

//element groups
$eg-nonmetal: #ffff8d;
$eg-noble-gas: #82b1ff;
$eg-alkali-metal: #ff80ab;
$eg-alkaline-earth-metal: #ff9e80;
$eg-metalloid: #ccff90;
$eg-halogen: #ff8a80;
$eg-metal: #4dd0e1;
$eg-transition-metal: #cfd8dc;
$eg-lanthanoid: #b388ff;
$eg-actinoid: #b9f6ca;
$eg-post-transition-metal: #bcaaa4;

//card groups
$eg-rare: #AA7C1A;
$eg-uncommon: #AA1A51;
$eg-common: #2A2A47;
$eg-spell: #C97272;
$eg-character: #6B6969;
$eg-location: #84BE63;
$eg-item: #6162B9;
$eg-adventure: #EEF5F3;
$eg-match: #9CAF2D;
$eg-creature: #A36440;
$eg-unique: #46E4A7;
$eg-healing: #18803F;
$eg-potions: #229B04;
$eg-transfiguration: #9C0404;
$eg-charms: #0508B6;
$eg-care-of-magical-creatures: #F78E06;
$eg-quidditch: #ECDC4C;
